USE [master]
GO
/****** Object:  Database [PETSHOP]    Script Date: 17/10/2016 17:31:30 ******/
CREATE DATABASE [PETSHOP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PETSHOP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PETSHOP.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PETSHOP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PETSHOP_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PETSHOP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PETSHOP]
GO
/****** Object:  Table [dbo].[Animais]    Script Date: 17/10/2016 17:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Animais](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](30) NULL,
	[raca] [varchar](30) NULL,
	[especie] [varchar](30) NULL,
	[cor] [varchar](15) NULL,
	[sexo] [char](2) NULL,
	[nascimento] [datetime] NULL,
	[idClientes] [int] NULL,
 CONSTRAINT [PK_Animais] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Animais_Tratamento]    Script Date: 17/10/2016 17:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animais_Tratamento](
	[idAnimais] [int] NULL,
	[idTratamentos] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cidades]    Script Date: 17/10/2016 17:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cidades](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](20) NULL,
	[uf] [char](2) NULL,
 CONSTRAINT [PK_Cidades] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 17/10/2016 17:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NULL,
	[nascimento] [datetime] NULL,
	[endereco] [varchar](100) NULL,
	[idCidade] [int] NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tipo_Tratamentos]    Script Date: 17/10/2016 17:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tipo_Tratamentos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](20) NULL,
	[preco] [float] NULL,
 CONSTRAINT [PK_Tipo_Tratamentos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tratamentos]    Script Date: 17/10/2016 17:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tratamentos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idTipo_tratamento] [int] NULL,
 CONSTRAINT [PK_Tratamentos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Animais]  WITH CHECK ADD  CONSTRAINT [FK_Animais_Clientes1] FOREIGN KEY([idClientes])
REFERENCES [dbo].[Clientes] ([id])
GO
ALTER TABLE [dbo].[Animais] CHECK CONSTRAINT [FK_Animais_Clientes1]
GO
ALTER TABLE [dbo].[Animais_Tratamento]  WITH CHECK ADD  CONSTRAINT [FK_Animais_Tratamento_Animais] FOREIGN KEY([idAnimais])
REFERENCES [dbo].[Animais] ([id])
GO
ALTER TABLE [dbo].[Animais_Tratamento] CHECK CONSTRAINT [FK_Animais_Tratamento_Animais]
GO
ALTER TABLE [dbo].[Animais_Tratamento]  WITH CHECK ADD  CONSTRAINT [FK_Animais_Tratamento_Tipo_Tratamentos] FOREIGN KEY([idTratamentos])
REFERENCES [dbo].[Tipo_Tratamentos] ([id])
GO
ALTER TABLE [dbo].[Animais_Tratamento] CHECK CONSTRAINT [FK_Animais_Tratamento_Tipo_Tratamentos]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Cidades] FOREIGN KEY([idCidade])
REFERENCES [dbo].[Cidades] ([id])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Cidades]
GO
ALTER TABLE [dbo].[Tratamentos]  WITH CHECK ADD  CONSTRAINT [FK_Tratamentos_Tipo_Tratamentos] FOREIGN KEY([idTipo_tratamento])
REFERENCES [dbo].[Tipo_Tratamentos] ([id])
GO
ALTER TABLE [dbo].[Tratamentos] CHECK CONSTRAINT [FK_Tratamentos_Tipo_Tratamentos]
GO
USE [master]
GO
